*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.headline{
    height:15vh;
    padding:20px;
    background: linear-gradient(to right,rgb(141, 202, 199) ,rgb(60, 38, 121));
    position: relative;
}
.headcontent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin:0;
}

.head h1{
    font-size: 60px;
    color:rgb(60, 38, 121);
    text-shadow: 5px 2px 9px white;
}
.head p{
    color: rgb(65, 62, 62);
}
.searchbar{
    padding:20px;
   
}
.search{
    padding: 5px 10px;
     width: 700px;
    font-size: 20px;
    border: none;
}
.nav-link{
    position: absolute;
    top: 20px;
    right: 20px;
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: transparent;
}
.nav-link li a{
    color:white;
    text-decoration: none;
}
.hamburger{
    position: absolute;
    display: none;
    font-size: 38px;
    top: 30px;
    right: 20px;
    color: white;
    cursor: pointer;
}
@media(max-width:768px){
    .nav-link{
        display: none;
        flex-direction: column;
        background-color: #2e1963;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
        padding-top: 10px;
    }
    .nav-link.show{
        display: flex;
    }
    .hamburger{
        display:block;
    }
    .search{
       width: 100%;
       flex-wrap: wrap;
    }
    .head p{
        display: none;
    }
    
}